.pop{
    position: fixed;
    width: 100%;
    top: 90px;
    left: 0;
    height: 100vh;
    background-color: rgb(40,40,40,.5) ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.closebtn{
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
    border-radius: 10px;
    border: 2px orange solid;
}
.closebtn > i{
    font-size: 1.5rem;
    color: orange;
    position: absolute;
    top: 16px;
    right: 16px;
}
.closebtn > i:hover{
    color: orange;
    cursor: pointer;
    font-size: 2rem;
    transition: 0.2s;
}