@font-face {
    font-family: 'Mont';
    src: url(../Navbar/Mont.otf);
}
body{
    background-image: url('../assets/background.png');
    background-size: cover;
}
.Text{
    text-align: center;
    margin: 6%;
    font-family: 'Mont';
}
.h1{
    color: orange;
    border-bottom: 3px solid orange;
    font-size: 3rem;
    text-shadow:
        0 .06em #7d4800,
        0 -.06em #7d4800,
        0.06em 0 #7d4800,
        -0.06em 0 #7d4800;
}
.p{
    margin-top: 2%;
    font-size: 1.3rem;
    margin-left: 10%;
    margin-right: 10%;
    color: black;
    text-shadow:
        0 .06em orange,
        0 -.06em orange,
        0.06em 0 orange,
        -0.06em 0 orange;
}
.Links{
    margin-top: 5%;
    display: inline-flex;
}
.arup{
    border: solid orange;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
.ardown{
    border: solid orange;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.h6{
    font-size: 1.3rem;
    color: orange;
    padding-bottom: 3%;
    padding-top: 3%;
}
h5{
    font-size: 1.3rem;
    color: orange;
    padding-bottom: 3%;
    padding-top: 3%;
}
.btns{
    text-decoration: none;
    list-style: none;
}
.btn1{
    font-size: 1.5rem;
    text-decoration: none;
    list-style: none;
    color: #FAF9F6;
    padding: 2% 8% 2% 8%;
    background: rgb(255,165,0,0.5);
    border-radius: 10px;
    border-color: orange;
    border-style: solid;
}
.btn1:hover {
    background: orange;
    border: none;
    transition: all 0.2s;
}
.up:hover{
    transform: translate(0px, -10px);
    transition: all 0.2s;
}
.down:hover{
    transform: translate(0px, 10px);
    transition: all 0.2s;
}
.btn2{
    font-size: 1.5rem;
    text-decoration: none;
    list-style: none;
    color: #FAF9F6;
    padding: 2% 8% 2% 8%;
    background: #ffb700;
    border-color: orange;
    border-radius: 10px;
}
.btn2:hover {
    background: rgb(255,165,0,0.5);
    border-color: orange;
    border-style: solid;
    transition: all 0.1s;
}
@media screen and (max-width: 960px) {
    .h1{
        font-size: 2.5rem;
        margin-bottom: 5%;
        padding-bottom: 2%;
    }
    .btns{
        margin-top: 4%;
    }
    .p{
        font-size: 1.2rem;
    }
}